<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="./s/bootstrap.min.css" >
    <script src="/script/loader.js"></script>
</head>
<body>
<%- include ('views/header') %>
<% for (let i = 0; i< datas.length; i++) { %>
<div class="card" style="width:300px; top: 40px; margin: auto">
    <img class="card-img-top imgPath" src="<%=datas[i].imagePath%>" alt="Card image">
    <div class="card-body">
        <input class="form-control form-control-sm" id="imgName<%=i%>" type="text" />
    </div>
    <button class="btn btn-primary" onclick="setName('<%=datas[i].imagePath%>' , <%=i%>)">Submit</button>
</div>
<% }%>
</body>
</html>
